<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h1>Book</h1>

    <% if (books.length > 0) { %>
      <% books.forEach(book => { %>

            <h3 class="title"><a href="/api/books/<%= book.bookId %>" class="href">Title: <%= book.Title %></a></h3>
            <p class="snippet">Author: <%= book.Author %></p>
            <p class="snippet">Date Published: <%= book.datePublished %></p>
            <p class="snippet">Description: <%= book.Description %></p>
            <p class="snippet">Page Count: <%= book.pageCount %></p>
            <p class="snippet">Genre: <%= book.Genre %></p>
            <p class="snippet">ID: <%= book.bookId %></p>
            <p class="snippet">Publisher: <%= book.Publisher %></p>
            <br/>
            <% if (uid === book.Uid) { %>
              <form action="/api/books/update/<%= book.bookId %>?_method=PUT" method="POST">
                <div class="form-group">
                  <label for="title" class="form-label">Title:</label>
                  <input type="text" name="Title" class="form-control">
                </div>
                <div class="form-group">
                  <label for="snippet" class="form-label">Book Author:</label>
                  <input type="text" class="form-control" name="Author">
                </div>
                <div class="form-group">
                  <label for="snippet" class="form-label">Book description:</label>
                  <textarea class="form-control" name="Description"></textarea>
                </div>
                <div class="form-group">
                  <label for="snippet" class="form-label">Pagecount:</label>
                  <input type="text" class="form-control" name="pageCount">
                </div>
                <div class="form-group">
                  <label for="snippet" class="form-label">Book Genre(s):</label>
                  <input type="text" class="form-control" name="Genre">
                </div>
                <div class="form-group">
                  <label for="body" class="form-label">Publisher:</label>
                  <input type="text" class="form-control"" name="Publisher">
                </div>
                  <button type="submit" class="btn btn-success">Edit Book</button>
              </form>
              <form action="/api/books/<%= book.bookId %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Delete Book</button>
              </form>
            <% } %>


      <% }) %>
    <% } else { %>
      <p>There are no books to display...</p>
    <% } %>

    <br/>
    <a href="/api/books" class="btn btn-secondary">Go to Home</a>
    <a href="/add-new-book" class="btn btn-warning">Add new book</a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>